* {
    background: transparent;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Courier New', Courier, monospace;
}

#profile{
    border-radius: 50%;
    max-width:75%;
}

.bioLine {
    border-bottom: 3px dashed #00bfff;
}

.projectImage{
    margin:1%;
    border: 7px solid  #87cefa;
    max-width: 80%;
}

#name{
    font-size: 3rem;
}

#bio {
    font-size: 1.5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#HideButton {
    height: 5em;
    display:inline-block;
    vertical-align: top;
    width: 3.5%;
    margin-top:1%;
    font-weight:bold;
    padding-left: 0%;
    border-radius: 1em 0em;
    margin-left:1%;
    background-color: #00bfff;
    border: 0;
    overflow: hidden;
}

.Header {
    margin: 2%;
    text-align: center;
}

.projectLink {
    font-size: 1.5rem;
    color:blue;
    font-weight: bold;
}

#bodyContainer {
    display: inline-block;
    width: 92%
}

#navbarContainer {
    display: inline-block;
    width:0%;
    margin-top: .7em;
    vertical-align: top;
    overflow: hidden;
}

.Navbar {
    margin-top:1%;
    margin-right:1%;
    margin-left:1%;
    display: block;
    width: 100%;
    list-style-type: none;
    background-color: #00bfff;
    overflow: hidden;
}

.storyPreview{
    text-align:left;
    font-weight:normal;
    margin:1%;
}

.storyButton {
    padding: 1%;
    font-weight:bold;
    border-radius:10%;
    margin-left:1%;
    background-color: #00bfff;
    box-shadow:none;
    border: 0;
}

.Email{
    margin: 4%;
    font-size: 1.5rem;
}

.navbarItem {
    display: inline-block;
    width: 100%;
}

.navbarLink {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    color: #000000;
    padding: .3em .5em;
    text-decoration: none;
    width: 100%;
}

.navbarLink:hover {
    background-color: white;
    color: #00bfff;
}

.Body {
    display: block;
    width: 100%;
    margin: 2%;
    margin-top:0%;
    margin-right:0%;
    padding-left:1%;
}

.PDFViewer{
    margin: 4%;
}

#PDFViewer{
    width: 0px;
    height:0px;
}

.Contact{
    margin: 4%;
    font-size: 1.5rem;
}

.Programming{
    text-align: center;
    margin: 2%;
}

.Writing {
    font-weight:bold;
    text-align: center;
    margin: 2%;
}

.Story {
    border:1px solid black;
    padding:1%;
    margin: 2%;
    font-size:1.25rem;
}

.Project {
    margin: 2%;
    text-align: center;
}

#emailSender {
    margin-left:1%;
    height: 1rem;
    width:25%;
    resize: none;
}

#emailMessage {
    margin-left:1%;
    width: 75%;
    height: 10rem;
    resize:none;
}

.storyTitle {
    font-weight:"bold";
    margin-left:auto;
    margin-right:auto;
}

#sendButton {
    padding: 1%;
    font-weight:bold;
    border-radius:10%;
    margin-left:1%;
    background-color: #00bfff;
    box-shadow:none;
    border: 0;
}

/* Hides navBar and hideButton if the user is viewing from a phone. */
@media screen and (max-width:500px){
    #navbarContainer, .Navbar{
        width: 0%;
        height: 0%;
    }

    #HideButton {
        width: 0%;
        height: 0%;
    }

    #bodyContainer {
        width: 100%;
    }

    #bio {
        width:100%;
        margin-bottom: 2em;
    }

    .projectImage{
        max-width: 85%;
    }

    .Body {
        margin: 0px;
    }
}
